h2,
h3,
h4 {
    text-align: center;
    font-style: bold;
    font-size: x-large;
    color: rgb(229, 228, 228);
    font-size: 1.4rem;
    font-family: "Playball", sans-serif;
}

p {
    text-align: center;
    color: rgb(229, 228, 228);
    font-size: 1.3rem;
}

a {
    color: rgb(229, 228, 228);
    text-decoration: none;
}

/*Study choice*/
#study {
    background-color: rgba(109, 109, 109, 0.20);
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-family: "Playball", sans-serif;
}

/*Swot*/
#swot {
    background-color: rgba(109, 109, 109, 0.20);
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-family: "Playball", sans-serif;
}

/*Programmign*/
#prog {
    background-color: rgba(109, 109, 109, 0.20);
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-family: "Playball", sans-serif;
}

/*Feedback*/
#feed {
    background-color: rgba(109, 109, 109, 0.20);
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-family: "Playball", sans-serif;
}

/*Profession*/
#pro {
    background-color: rgba(109, 109, 109, 0.20);
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-family: "Playball", sans-serif;
}

/* Read more */
.readMore {
    font-family: "Playball", sans-serif;
    font-style: oblique;
    color: rgb(229, 228, 228);: rgb(229, 228, 228);
    text-decoration: underline;
    text-align: right;
    font-size: 1.5rem;

}