h2,
h3,
h4 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    font-size: x-large;
    color: white;
    font-size: 1.4rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

a {
    color: white;
    text-decoration: none;
}

/*Study choice*/
#study {
    background-color: rgba(109, 109, 109, 0.37);
    border: 0.3px solid white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

/*Swot*/
#swot {
    background-color: rgba(109, 109, 109, 0.37);
    border: 0.3px solid white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

/*Programmign*/
#prog{
    background-color: rgba(109, 109, 109, 0.37);
    border: 0.3px solid white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto; 
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

/*Feedback*/
#feed{
    background-color: rgba(109, 109, 109, 0.37);
    border: 0.3px solid white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto; 
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
/* Read more */
.readMore{font-family: "Times New Roman", Times, serif;
font-style:oblique;
color: white;
text-decoration: underline;
font-size: 1.5rem;

}


