p {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;

}

/*Table*/
table {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(137, 72, 146);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#head td {
  border: 2px solid whitesmoke;
  border-radius: 1rem;
  font-size: 20pt;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 1.3rem;
}

#body tr,
td {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
    font-style: italic;

}

/*Table colours*/
tr:nth-child(odd) {
  background-color: rgb(137, 72, 146);
  border-radius: 10px;
}

tr:nth-child(even) {
  background-color: rgb(37, 101, 133);
  border-radius: 1rem;
}

/*Progress bar*/
.progress {
  margin: 50px auto;
  padding: 2px;
  width: 100%;
  max-width: 500px;
  background: whitesmoke;
  border: 3px solid #000;
  border-radius: 20px;
  height: 30px;
}

.progress .progress__bar {
  height: 100%;
  width: 5%;
  border-radius: 15px;
  background: repeating-linear-gradient(135deg,
      #782569,
      #782569 20px,
      #8e2f5f 20px,
      #8e2f5f 40px);
  animation: fill-bar 4s linear;
  animation-fill-mode: forwards;
}

@keyframes fill-bar {
  from {
    width: 0%;
  }

  to {
    width: 40%;
  }
}

h1 img {
  vertical-align: middle;
}