/*Current plans*/
#par1 {
    width: 25%;
    display: block;
    text-align: center;
    color: white;
    overflow: auto;
    background-color: rgba(109, 109, 109, 0.37);
    border: 0.3px solid white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

/*Future plans*/
#par2 {
    width: 25%;
    display: block;
    text-align: center;
    color: white;
    overflow: auto;
    background-color: rgba(109, 109, 109, 0.37);
    border: 0.3px solid white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;

}

/*Reasons I joined*/
#table {
    background-color: rgba(109, 109, 109, 0.37);
    border: 0.3px solid white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

/* Images */
#img {
    display: block;
    margin-right: auto;
    margin-left: 20%;
    margin-bottom: auto;
    margin-top: auto;
    width: 10%;
    height: 8%;
    overflow: hidden;

}

#img1 {
    display: block;
    margin-right: 20%;
    margin-left: auto;
    width: 10%;
    height: 8%;
    overflow: hidden;
}

/*Headers and lines*/
h2,
h3 {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

h4 {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

ul,
li {
    text-align: center;
    color: white;
}