#par1 {
    width: 25%;
    display: block;
    float: left;
    color: white;
    overflow: auto;
}

#par2 {
    width: 25%;
    display: block;
    float: right;
    color: white;
    overflow: auto;

}

#img1 {
    display: block;
    margin-right: auto;
    margin-left: 50px;
    width: 150px;
    height: 95px;
    overflow: hidden;
}

#img2 {
    display: block;
    margin-right: 50px;
    margin-left: auto;
    width: 150px;
    height: 95px;
    overflow: hidden
}