/*Headers*/
.leasure li,
.job li {
    color: whitesmoke;
    text-align: center;
    text-decoration-line: underline;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 1.2rem;
    background-color: rgba(109, 109, 109, 0.37);
    border: 0.3px solid white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
}

h2,
h4 {
    color: whitesmoke;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: x-large;
}

h3,
h5 {
    color: whitesmoke;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: x-large;
}

/* Pseudo table */
.d-table {
    width: 20%;
    height: 30%;
    margin-left: 40%;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(109, 109, 109, 0.37);
    width: 1px solid white;
    border: 1px solid white;

}

.d-table ul {
    list-style-type: none;
}

.d-column li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 1px solid white;
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.37);
    width: 60%;
    height: fit-content;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.d-row li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 1px solid white;
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.37);
    width: 48%;
    height: fit-content;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-style: italic;
    color: rgb(255, 255, 255);
}

/*Personal info*/
.pinfo {
    color: whitesmoke;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 1.2rem;
    background-color: rgba(109, 109, 109, 0.37);
    border: 0.3px solid white;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
}

/*Images*/
#hammoc {
    display: block;
    margin-right: auto;
    margin-left: 20%;
    width: 10%;
    height: 8%;
    overflow: hidden;
}

#wave {
    display: block;
    margin-right: 20%;
    margin-left: auto;
    width: 10%;
    height: 8%;
    overflow: hidden;

}

#job {
    display: block;
    margin-right: 20%;
    margin-left: auto;
    width: 9%;
    height: 7%;
    overflow: hidden;

}
/*Spotify player*/
.spotify-container {
    position: relative;
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.spotify-container::after {
    display: block;
    content: "";
    padding-top: 25%;

}

.spotify-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    margin-left: 11%;
}

/* Youtube player */
.youtube-container {
    position: relative;
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 35%;
}

.youtube-container::after {
    display: block;
    content: "";
    padding-top: 25%;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 80%;
    margin-left: 11%;
}