body {
    background: linear-gradient(130deg, rgb(3, 115, 128) 0.00%, rgb(156, 43, 171) 50.19%, rgb(39, 43, 44) 100.00%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    font-size: x-large;
    color: white;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
p {
    text-align: center;
    color: white;
}