/* body and header */
body {
    background: linear-gradient(130deg, rgb(3, 115, 128) 0.00%, rgb(156, 43, 171) 50.19%, rgb(39, 43, 44) 100.00%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }
  

h1 {
    color: rgb(229, 228, 228);
    text-decoration-line: underline;
    text-align: center;
    font-family: "Playball", sans-serif;
    font-style: bold;
    font-size: xx-large;
    position: relative;

}

#h{ text-align: center;
    font-family: "Playball", sans-serif;
    font-style: bold;
    font-size: xx-large;
    color: rgb(229, 228, 228);
    text-decoration-line: underline;
}
    
#lorem {
    color: rgb(229, 228, 228);
    text-align: center;
    font-family: "Playball", sans-serif;
    font-size: 1.3rem;
    background-color: rgba(109, 109, 109, 0.20);
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 35%;
    display: block;
    position: relative;
    margin: 0 auto;
}

/* navigation bar */
.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 43, 44);
    position: sticky;
    top: 0;
    border-radius: 1rem;

}

.horizontal li {
    float: left;
}

.horizontal li a {
    display: block;
    color: rgb(229, 228, 228);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "garamond", garamond, serif;
    font-style: italic;
    font-size: 1.1rem;
}

.horizontal li:hover {
    background-color: plum;
    border-radius: 1rem;
}

.active {
    background-color: rgb(96, 19, 96);
    color: rgb(229, 228, 228);
    border-radius: 1rem;
}
#logo img { position: absolute;
    margin-right: 11%;
    margin-left: 45%;
    margin-top: -40px;
    padding: 20px;
    z-index: 20;
    overflow: hidden;
    height: 90px;
    width: auto;
    border: none;

}
/* dropdown menu */
.button {
    background-color: rgb(96, 19, 96);
    color: rgb(229, 228, 228);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "garamond", garamond, serif;
    font-style: italic;
    border-radius: 1rem;
    float: right;
    margin-top: -65px;
    margin-right: -9px;
    font-size: 1.1rem;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.content {
    display: none;
    position: absolute;
    background-color: rgb(39, 43, 44);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 1rem;
    margin-left: -44.5px;
    margin-top: -20px;

}

.content a {
    color: rgb(229, 228, 228);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "garamond", garamond, serif;
    font-style: italic;
    font-size: 1.1rem;

}

.dropdown:hover .content {
    display: block;
}

.content a:hover {
    background-color: plum;
    border-radius: 1rem;
}

aside {
    display: block;
    float: right;
    right: 0;
    margin-right: 10px;
   

}

/*Footer*/
footer {
    overflow: hidden;
    display: block;
   margin-top: auto; 
   margin: 5rem 0 0 0;
   padding: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color:  rgb(39, 43, 44);;
    color: rgb(229, 228, 228);
    text-align: center;
    border-radius: 1rem;
    font-family: "Playball", sans-serif;
}