/* body and header */
body {
    background: linear-gradient(130deg, rgb(3, 115, 128) 0.00%, rgb(156, 43, 171) 50.19%, rgb(39, 43, 44) 100.00%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: whitesmoke;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    font-size: xx-large;
    position: relative;

}

#h{ text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    font-size: x-large;
    color: white;
    text-decoration-line: underline;
    text-decoration-style: wavy;}
    
#lorem {
    text-align: center;
    color: white;
    display: block;
    width: 25% 
    margin-left: auto;
    margin-right: auto;
}

/* navigation bar */
.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 43, 44);
    position: sticky;
    top: 0;
    border-radius: 1rem;
}

.horizontal li {
    float: left;
}

.horizontal li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "garamond", garamond, serif;
}

.horizontal li:hover {
    background-color: plum;
    border-radius: 1rem;
}

.active {
    background-color: rgb(96, 19, 96);
    color: white;
    border-radius: 1rem;
}
#logo img {position: absolute;
    margin-right: 150px;
    margin-left:600px;
    margin-top: -40px;
    padding: 20px;
    z-index: 2;
    overflow: hidden;
    height: 90px;
    width: auto;

}
/* dropdown menu */
.button {
    background-color: rgb(96, 19, 96);
    color: whitesmoke;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "garamond", garamond, serif;
    border-radius: 1rem;
    float: right;
    margin-top: -65px;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.content {
    display: none;
    position: absolute;
    background-color: rgb(39, 43, 44);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 1rem;
    margin-left: -44.5px;
    margin-top: -20px;

}

.content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "garamond", garamond, serif;

}

.dropdown:hover .content {
    display: block;
}

.content a:hover {
    background-color: plum;
    border-radius: 1rem;
}

aside {
    display: block;
    float: right;
    right: 0;
    margin-right: 10px;
   

}