/* header specificatons */
body {
    background: linear-gradient(130deg, rgb(3, 115, 128) 0.00%, rgb(156, 43, 171) 50.19%, rgb(39, 43, 44) 100.00%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: whitesmoke;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    font-size: xx-large;
}

h5 {
    color: whitesmoke;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: large;
}

/* profile info */
.pinfo li,
.leasure li,
.job li {
    color: whitesmoke;
    text-align: center;
    text-decoration-line: underline;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: medium;
}

.books,
.harold,
.controler,
.writing,
.painting,
.walking,
.headphones {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 95px;
}

/* navigation bar */
.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 43, 44);
    position: sticky;
    top: 0;
    border-radius: 1rem;
}

.horizontal li {
    float: left;
}

.horizontal li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "garamond", garamond, serif;
}

.horizontal li:hover {
    background-color: plum;
}

.active {
    background-color: purple;
    color: white;
}

/* dropdown menu */
.button {
    background-color: purple;
    color: whitesmoke;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "garamond", garamond, serif;
    border-radius: 20%;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.content {
    display: none;
    position: absolute;
    background-color:rgb(39, 43, 44);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "garamond", garamond, serif;

}

.dropdown:hover .content {
    display: block;
}

.content a:hover {
    background-color: plum;
}

aside {
    display: block;
    float: right;
    right: 0;
    margin-right: 0;

}

/*index page*/
/* #par1 {
    width: 25%;
    display: block;
    float: left;
    color: white;
    overflow: auto;
}

#par2 {
    width: 25%;
    display: block;
    float: right;
    color: white;
    overflow: auto;

}

#img1 {
    display: block;
    margin-right: auto;
    margin-left: 50px;
    width: 150px;
    height: 95px;
    overflow: hidden;
}

#img2 {
    display: block;
    margin-right: 50px;
    margin-left: auto;
    width: 150px;
    height: 95px;
    overflow: hidden
} */
/* dashboard page */
table {
    border: 2px solid wheat;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(62, 10, 111);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#head td {
    border: 2px solid wheat;
    border-radius: 10px;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#body tr,
td {
    border: 2px solid wheat;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(62, 10, 111);
}

/* FAQ page */
#qna li,
p {
    color: white;
}

/* blog page */