/* Strenghts */
.a-table {
    width: 20%;
    height: 30%;
    margin-left: 40%;
    border-radius: 1rem;
    text-align: center;
    width: 0.3px solid rgb(229, 228, 228);

}

.a-table ul {
    list-style-type: none;
}

.a-column li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.20);
    width: 60%;
    height: fit-content;
    text-align: center;
    font-family: "Playball", sans-serif;
    font-size: 1.5rem;
    color: rgb(229, 228, 228);
}

.a-row li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.20);
    width: 60%;
    height: fit-content;
    text-align: center;
    font-family: "Playball", sans-serif;
    font-size: 1.3rem;
    color: rgb(229, 228, 228);
}

/* Weaknesses */
.b-table {
    width: 20%;
    height: 30%;
    margin-left: 40%;
    border-radius: 1rem;
    text-align: center;
    width: 0.3px solid rgb(229, 228, 228);

}

.b-table ul {
    list-style-type: none;
}

.b-column li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.20);
    width: 60%;
    height: fit-content;
    text-align: center;
    font-family: "Playball", sans-serif;
    font-size: 1.5rem;
    color: rgb(229, 228, 228);
}

.b-row li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.20);
    width: 60%;
    height: fit-content;
    text-align: center;
    font-family: "Playball", sans-serif;
    font-size: 1.3rem;
    color: rgb(229, 228, 228);
}

/* Opportunities */
.c-table {
    width: 20%;
    height: 30%;
    margin-left: 40%;
    border-radius: 1rem;
    text-align: center;
    width: 0.3px solid rgb(229, 228, 228);

}

.c-table ul {
    list-style-type: none;
}

.c-column li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.20);
    width: 60%;
    height: fit-content;
    text-align: center;
    font-family: "Playball", sans-serif;
    font-size: 1.5rem;
    color: rgb(229, 228, 228);
}

.c-row li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.20);
    width: 60%;
    height: fit-content;
    text-align: center;
    font-family: "Playball", sans-serif;
    font-size: 1.3rem;
    color: rgb(229, 228, 228);
}
/* Threats */
.d-table {
    width: 20%;
    height: 30%;
    margin-left: 40%;
    border-radius: 1rem;
    text-align: center;
    width: 0.3px solid rgb(229, 228, 228);
}

.d-table ul {
    list-style-type: none;
}

.d-column li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.20);
    width: 60%;
    height: fit-content;
    text-align: center;
    font-family: "Playball", sans-serif;
    font-size: 1.5rem;
    color: rgb(229, 228, 228);
}

.d-row li {
    padding: 0px;
    margin: 0;
    display: inline-table;
    border: 0.3px solid rgb(229, 228, 228);
    border-radius: 1rem;
    background: rgba(109, 109, 109, 0.20);
    width: 60%;
    height: fit-content;
    text-align: center;
    font-family: "Playball", sans-serif;
    font-size: 1.3rem;
    color: rgb(229, 228, 228);
}
