body {
    background-color: black;
}

h1,
h2,
h4 {
    color: whitesmoke;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    font-size: xx-large;
}

.name,
.age,
.game,
.read,
.write,
.draw,
.walk,
.music,
.fitness,
.unemployed {
    color: whitesmoke;
    text-align: center;
    text-decoration-line: underline;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: medium;
}

.books,
.harold,
.controler,
.writing,
.painting,
.walking,
.headphones {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 95px
}


