/* header specificatons */
body {
    background-color: black;
}

h1,
h3,
h4 {
    color: whitesmoke;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    font-size: xx-large;
}

h5 {
    color: whitesmoke;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: large;
}

/* profile info */
.pinfo li,
.leasure li,
.job li {
    color: whitesmoke;
    text-align: center;
    text-decoration-line: underline;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: medium;
}

.books,
.harold,
.controler,
.writing,
.painting,
.walking,
.headphones {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 95px;
}

/* navigation bar */
.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 2, 13);
    position: sticky;
    top: 0;
}

.horizontal li {
    float: left;
}

.horizontal li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "garamond", garamond, serif;
}

.horizontal li:hover {
    background-color: plum;
}

.active {
    background-color: purple;
    color: white;
}

/* dropdown menu */
.button {
    background-color: purple;
    color: whitesmoke;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "garamond", garamond, serif;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.content {
    display: none;
    position: absolute;
    background-color: lightslategray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "garamond", garamond, serif;

}

.dropdown:hover .content {
    display: block;
}

.content a:hover {
    background-color: plum;
}

/* index page */
#par1 {
    text-align: left;
    color: white;
    overflow: auto;
}

#par2 {
    text-align: right;
    color: white;
    overflow: auto;

}

#img1 {
    display: block;
    margin-right: auto;
    margin-left: 50px;
    width: 150px;
    height: 95px;
    overflow: hidden;
}

#img2 {
    display: block;
    margin-right: 50px;
    margin-left: auto;
    width: 150px;
    height: 95px;
    overflow:hidden
}

/* profile page */

/* dashboard page */
table,
th,
tr,
td {
    border: 1px solid white;
    border-radius: 10px;
    color: whitesmoke;
    text-align: center;
    background-color: purple;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* FAQ page */
#qna li, p {color: white;}

/* blog page */